{% load static %}

<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add item</title>
  </head>
  <body>
    <h1>Add new item</h1>
    <h2>Choose which part of your wardrobe you want to add</h2>
    <a href="/add_shoes/">
        <button>
            Add new shoes
        </button>
    </a>
    <a href="/add_pants/">
        <button>
            Add new pants
        </button>
    </a>
    <a href="/add_base/">
        <button>
            Add new base
        </button>
    </a>
    <a href="/add_overtop/">
        <button>
            Add new overtop
        </button>
    </a>
    <a href="/add_coat/">
        <button>
            Add new coat
        </button>
    </a>
    <a href="/add_hat/">
        <button>
            Add new hat
        </button>
    </a>
    
    <section>
        <h1>Return to main page</h1>
        <a href="/">
            <button>
                Main page
            </button>
        </a>
    </section>
  </body>
</html>
