{% block title%}
    Add new Overtop
{% endblock %}

{% block content%}
    <section>
        <h1>Add new overtop</h1>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}

            <label>Paste image of new overtop</label>

            <textarea id="pasteArea"></textarea>
            <input type="file" id="imageInput" name="image" accept="image/*" hidden>
            <img id="preview" style="max-width: 200px; display: none;"/>


            <button type="submit">Add new overtop</button>
        </form>
    </section>

    <script>
        document.getElementById('pasteArea').addEventListener('paste', function(event) {
            const items = (event.clipboardData || event.originalEvent.clipboardData).items;
            for (let item of items) {
                if (item.type.indexOf("image") !== -1) {
                    const file = item.getAsFile();
                    const reader = new FileReader();
                    reader.onload = function(event) {
                        const imgElement = document.getElementById('preview');
                        imgElement.src = event.target.result;
                        imgElement.style.display = 'block';

                        const dataTransfer = new DataTransfer();
                        dataTransfer.items.add(file);
                        document.getElementById('imageInput').files = dataTransfer.files;
                    };
                    reader.readAsDataURL(file);
                }
            }
        });
    </script>
{% endblock %}